body {
  background-color: #f2efea;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card-button {
  background-color: #af6b58;
}

nav,
footer {
  background-color: #556052;
}

.show-jumbo-container {
  height: 400px;
  background-color: rgba(88, 88, 88, 0.476);
  color: white;
  padding: 50px;
}

.responsive img {
  margin-left: 10px;
  margin-right: 10px;
}

.responsive {
  overflow: hidden;
}
