body {
  background-color: #f2efea;
  font-family: "Graduate", cursive;
  /* 
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

.card-button {
  background-color: #af6b58;
  color: white;
}

.edit-button {
  background-color: #89b8d5;
  color: white;
}

.delete-button {
  background-color: #c46e6e;
  color: white;
}

nav,
footer {
  background-color: #556052;
}

.show-jumbo-container {
  background-color: rgba(88, 88, 88, 0.476);
  color: white;
  padding: 50px;
}

.responsive img {
  margin-left: 10px;
  margin-right: 10px;
}

.responsive {
  overflow: hidden;
}

.court-reviews {
  padding: 5%;
  background-color: rgb(231, 227, 153);
}

star-rating {
  --star-rating-color: gold;
}

/* STAR RATING */
.rating {
  float: left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
 follow these rules. Every browser that supports :checked also supports :not(), so
 it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 0.1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  line-height: 1.2;
  color: rgb(113, 113, 113);
  /* text-shadow: 1px 1px #bbb, 2px 2px #666, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5); */
}

.rating:not(:checked) > label:before {
  content: "★ ";
}

.rating > input:checked ~ label {
  color: #f70;
  /* text-shadow: 1px 1px #c60, 2px 2px #940, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5); */
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod, 2px 2px #b57340;
  /* 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5); */
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow: 1px 1px goldenrod, 2px 2px #b57340,
    0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}
